# Dependencies
node_modules
.pnpm-store

# NestJS build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm

# Env Files (Avoid leaking secrets)
.env
.env.*
!.env.example

# Version Control
.git
.gitignore

# OS Files
.DS_Store
Thumbs.db

# Turbo
.turbo

# Docker
Dockerfile
.dockerignore
